{% extends 'base.html' %}

{% block content %}
<section class=" container max-w-7xl mx-auto py-6 lg:py-10 space-y-5 lg:space-y-8">
  <h2 class=" text-center font-semibold text-xl">
    View of animal Sitings
  </h2>
  <div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full">
            <thead class="bg-white border-b">
              <tr>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  S.No
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Animal
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Breed
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Date
                </th>
                <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              {% for i in siting %}
              <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  {{forloop.counter}}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{i.animal}}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{i.breed}}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  {{i.date}}
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  <!-- <button type="button"
                    class="inline-block px-0 py-2.5 bg-transparent text-blue-600 font-medium text-xs leading-tight uppercase rounded hover:text-blue-700 focus:outline-none transition duration-150 ease-in-out hover:underline">
                    Detele
                  </button> -->
                  <a class="inline-block px-0 py-2.5 bg-transparent text-blue-600 font-medium text-xs leading-tight rounded hover:text-blue-700 focus:outline-none transition duration-150 ease-in-out hover:underline"
                    href="{% url 'delete' i.id %}">
                    Delete
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {%if siting|length == 0%}
  <p class="text-center p-2 mb-0 text-danger bg-white">No Data to Display </p>
  {%endif%}
  <div class="flex space-x-2 justify-center">
    <button type="button" id="new"
      class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
      Add new
    </button>
  </div>
  <div id="animal" class="animal mx-auto p-6 rounded-lg shadow-lg bg-white max-w-md hidden">
    <h4 class=" text-xl font-semibold py-3">Siting Detail Form</h4>
    <form action="{% url 'home' %}" method="POST">
    {% csrf_token %}
    <div id="animal-show" class="flex flex-col justify-center">
      <label for="inputStatus" class=" appearance-none block px-3 py-1.5 text-base font-normal text-gray-700 focus:text-gray-700 ">
        Animal
      </label>
      <div class="mb-3 xl:w-96">
        <select id="animal-option" name="animal"
          class="form-select appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
          aria-label="Default select example">
          <option selected disabled>Choose the Animal</option>
          {% for i in animal %}
          <option value="{{ i.id }}">{{ i.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="animal flex flex-col justify-center">
      <div class="mb-3 xl:w-96 hidden" id="breed-show" >
        <label for="inputStatus" class=" appearance-none block px-3 py-1.5 text-base font-normal text-gray-700 focus:text-gray-700 ">
        Breed
      </label>
        <select id="breed-option" name="breed"
          class="form-select appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
          aria-label="Default select example">
          <option selected disabled>Choose the Breed</option>
        </select>
      </div>
    </div>
    <div id="date-show" class="animal flex flex-col justify-center hidden">
      <label for="inputStatus" class=" appearance-none block px-3 py-1.5 text-base font-normal text-gray-700 focus:text-gray-700 ">
        Date
      </label>
      <div class="mb-3 xl:w-96">
        <input type="date" id="date" name="date" class="form-select appearance-none block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding bg-no-repeat border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none">
      </div>
    </div>
    <div id="save-show" class="animal flex space-x-4 justify-center hidden">
      <div class=" space-x-4">
        <button type="reset" id="cancel"
          class="inline-block px-6 py-2.5 bg-gray-200 text-gray-700 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-gray-300 hover:shadow-lg focus:bg-gray-300 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-400 active:shadow-lg transition duration-150 ease-in-out">
          Cancel
        </button>
        <button type="submit"
          class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
          Save
        </button>
      </div>
    </div>
  </form>
  </div>

</section>


<!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->


<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script>
    $("#animal-option").change(function () {
        const animalId = $(this).val();  // get the selected animal ID from the HTML dropdown list
        $.ajax({                       // initialize an AJAX request
            type: "POST",
            url: '{% url "ajax_data" %}',
            data: {
                'animal_id': animalId,       // add the country id to the POST parameters
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {   // `data` is from `get_topics_ajax` view function
                let html_data = '<option value="" selected disabled>Choose the Breed</option>';
                data.forEach(function (data) {
                    html_data += `<option value="${data.id}">${data.name}</option>`
                });
                $("#breed-option").html(html_data); // replace the contents of the topic input with the data that came from the server
            }
        });
    });
</script>
<script>
  $("#new").click(function () {
    $("#animal").show();
  });
  $("#cancel").click(function () {
    $("#animal").hide();
    $("#breed-show").hide();
    $("#date-show").hide();
    $("#save-show").hide();
  });
  $("#animal-show").change(function () {
    $("#breed-show").show();
  });
  $("#breed-show").change(function () {
    $("#date-show").show();
  });
  $("#date-show").change(function () {
    $("#save-show").show();
  });
</script>

{% endblock %}